* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}


h1 {
	font-size: .3rem;
  margin-top: 5rem;
	margin-bottom: 2rem;
}

.drums {
	display: flex;
	align-items: center;
	justify-content: center;
  min-height: 50vh;
}

.drum {
	background-color: crimson;
	border-radius: 1rem;
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
	transition: 0.3s;
}

.drum:hover {
	opacity: 0.6;
}

.drum:active,
.drum.playing {
	transform: scale(1.1);
}

.drum .key {
	color: #fff;
	font-size: 3rem;
}

.span-text {
  font-size: 1.2rem;
}